header
{
	background-color: #27ae60;
	color: #ecf0f1;
}
a, a:hover
{
	text-decoration: none;
}
header img
{
	float: left;
}
header h1
{
	margin: 0;
	text-align: center;
	padding: 20px;
	color: #ecf0f1;
}
/* animations */
.anim-hover-vibrate
{
	display: inline-block;
	animation: endvibrate 0.2s linear 1;
}
.anim-hover-vibrate:hover
{
	display: inline-block;
	animation: vibrate 0.2s linear 1;
}
@keyframes vibrate
{
	10% {transform: rotate(7deg);}
	20% {transform: rotate(-7deg);}
	40% {transform: rotate(5deg);}
	50% {transform: rotate(-5deg);}
	60% {transform: rotate(3deg);}
	70% {transform: rotate(-3deg);}
	80% {transform: rotate(1deg);}
	90% {transform: rotate(-1deg);}
}
@keyframes endvibrate
{
	10% {transform: rotate(7deg);}
	20% {transform: rotate(-7deg);}
	40% {transform: rotate(5deg);}
	50% {transform: rotate(-5deg);}
	60% {transform: rotate(3deg);}
	70% {transform: rotate(-3deg);}
	80% {transform: rotate(1deg);}
	90% {transform: rotate(-1deg);}
}


.anim-hover-rotate
{
	transform: rotate(0deg);
	transition: all 0.3s;
}

.anim-hover-rotate:hover
{
	animation: rotate 0.3s linear 1;
}
@keyframes rotate
{
	100%{transform: rotate(360deg);}
}
