footer
{
	background-color: #27ae60;
	padding: 10px;
	color: #ecf0f1;
	margin-top: 25px;
	text-align: center;
}

footer a{
	color: #bdc3c7;
    background-color: #2c3e50;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border-radius: 15px;
}
footer a:hover{
    color: white;
    background-color: #34495e;
}
