body{
    background-color: #2c3e50;
    color: #ecf0f1;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    text-align: center;
    padding: 20px;
}

a{
    text-decoration: none;
    color: #ecf0f1;
    
}
