table{
	border-collapse: collapse;
	width: 100%;
	margin-top: 25px;
	margin-right: 20px;
	box-shadow: 0px 0px 0px #354A5f;
	transition: all 0.5s;
	background-color: #34495e;
}

@media screen and (min-width: 800px){
	main{
		display: inline-block;
	}
	table{
		width: 44%;
		float:left;
		margin-left: 3%;
	}
}

table:hover
{
	background-color: #354A5f;
	box-shadow: 0px 0px 18px #354A5f;
	transition: box-shadow 0s;
}

table, th, td{
	border: 1px solid gray;
	padding: 5px;
}

table th
{
	text-align: center;
}

table tbody .esperanto a
{
	color: #6EA534;
}

.english
{
	text-align: right;
}

.esperanto
{
	text-align: center;
}
